#nav-bar {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: red;
  color: #e8fdff;
  padding-right: 2em;
  padding-left: 2em;
  line-height: 50%;
  display: flex;
  align-items: center;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  font-size: 2em;
}

#nav-bar button {
  line-height: 25px;
  background-color: white;
  opacity: 0.9;
  /*float: right;*/
  position: absolute;
  right: 200px;
  border: black solid 1px;
  border-radius: 10px;
  color: red;
  font-size: 18px;
  padding: 17px 15px 17px 15px;
}

/* "write" icon on compose button */
#nav-bar button i {
  font-size: 25px;
}

#nav-bar button:hover {
  opacity: 1.0;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}
